<tr class="bet-row" data-id="${matchID}">
    <td class="text-center match-status">${matchStatus}</td>
    <td class="text-center">${sportName}</td>
    <td class="text-center">${matchID}</td>
    <td class="text-center">${betTime}</td>
    <td class="text-center">${amountSurcharge}</td>
    <td class="text-center">${betTeam} <div class="btn btn-warning switch-bet ${display}" data-id="${betID}">Switch</div></td>
    <td class="text-center">${outcomeRefund}</td>
    <td class="text-center">${total}</td>
  </tr>